<div class="top">
  <div>
    <input
      class="control search"
      type="text"
      placeholder="Buscar..."
      #searchQuery
      (input)="onSearch(searchQuery.value)"
    />
  </div>
  <button class="btn primary" routerLink="/create">Agregar</button>
</div>

<div>
  <div class="card">
    <div class="card-body">
      @if (loading) {

      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-left: 2rem;
          padding-right: 2rem;
        "
      >
        @for (item of tableHeader; track i; let i = $index) {
        <div
          style="display: flex; flex-direction: column; align-items: flex-start"
        >
          <div style="margin-top: 1rem; margin-bottom: 1rem">
            <app-skeleton
              [width]="item.width ? item.width + 50 + 'px' : '220px'"
              height="50px"
            />
          </div>
          @for (n of numSequence(5); track n) {
          <div
            style="
              display: flex;
              width: 100%;
              flex-direction: columns;
              margin-bottom: 0.5rem;
              margin-top: 0.5rem;
              height: 80px;
              align-items: center;
            "
          >
            @if (i === 0) {
            <app-skeleton width="64px" height="64px" radius="50%" />
            } @if (i === 1) {
            <app-skeleton width="200px" height="30px" />
            } @if (i === 2) {
            <app-skeleton width="300px" height="30px" />
            } @if(i >=3) {
            <app-skeleton width="160px" height="30px" />

            }
          </div>
          }
        </div>

        }
      </div>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-left: 2rem;
          padding-right: 2rem;
          margin-top: 2rem;
          margin-bottom: 1rem;
        "
      >
        <app-skeleton width="200px" height="40px" />
        <app-skeleton width="200px" height="40px" />
      </div>

      } @else {
      <table class="table">
        <thead>
          <tr>
            @for (item of tableHeader; track i; let i = $index) {
            <th [style.width.px]="item.width ?? 'auto'">
              {{ item.name }}

              @if (item.info) {
              <div class="tooltip">
                <img src="assets/icons/info.svg" width="24" height="24" />
                <span class="tooltiptext">{{ item.info }}</span>
              </div>
              }
            </th>

            }
            <!-- <th width="60px">Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>
              Fecha de revisión
              <a href="javascript:void(0);" class="header-info">
                <img src="assets/icons/info.svg" width="24" height="24" />
              </a>
            </th> -->
            <th width="20px"></th>
          </tr>
        </thead>
        <tbody>
          @for (product of items(); track product.id) {
          <tr>
            <td>
              <div class="avatar">
                <img [ngSrc]="product.logo" fill />
              </div>
            </td>
            <td>
              {{ product.name }}
            </td>
            <td>
              {{ product.description }}
            </td>
            <td>
              {{ product.dateRelease | date : "dd/MM/yyyy" }}
            </td>
            <td>
              {{ product.dateRevision | date : "dd/MM/yyyy" }}
            </td>
            <td class="menu">
              <app-dropdown-menu
                [items]="['Editar', 'Eliminar']"
                [value]="product"
                (onClick)="onClickDropdown($event)"
              />
            </td>
          </tr>
          }
        </tbody>
      </table>
      <app-pagination
        [currentPage]="currentPage()"
        [totalItems]="totalItems"
        [defaultItemPerPage]="defaultItemPerPage"
        (pageChanged)="onPageChange($event)"
        (itemsPerPageChanged)="onItemsPerPageChanged($event)"
      />
      }
    </div>
  </div>
</div>

<app-confirm-dialog
  [closable]="true"
  [message]="
    '¿Estas seguro de eliminar el producto ' + selectedProduct?.name + ' ?'
  "
  confirmText="Confirmar"
  (onCancel)="onCancelDialog()"
  (onConfirm)="onConfirmDialog()"
/>
