<div class="card">
  <div class="card-header">
    <h2>{{title}}</h2>
  </div>
  <div class="card-body">
    <form [formGroup]="productForm">
      <div class="flex-row">
        <app-input
          formControlName="id"
          label="ID"
          [control]="productForm.controls['id']"
        />
        <app-input
          formControlName="name"
          label="Nombre"
          [control]="productForm.controls['name']"
        />
      </div>
      <div class="flex-row">
        <app-input
          formControlName="description"
          label="Descripción"
          [control]="productForm.controls['description']"
        />
        <app-input
          formControlName="logo"
          label="Logo"
          [control]="productForm.controls['logo']"
        />
      </div>
      <div class="flex-row">
        <app-input
          formControlName="dateRelease"
          label="Fecha de liberación"
          type="date"
          [control]="productForm.controls['dateRelease']"
        />
        <app-input
          formControlName="dateRevision"
          label="Fecha de revisión"
          type="date"
          [control]="productForm.controls['dateRevision']"
        />
      </div>
    </form>
    @if(existsId && productForm.value.id === existsIdValue) {
    <div class="alert alert-warning">
      El ID <strong>{{ existsIdValue }}</strong> está en uso, pruebe con otro.
    </div>
    }

    <div style="display: flex; justify-content: center; width: 100%; margin-top: 10px;">
      <app-loader [show]="loading" />

    </div>
    <div class="action-btn">
      <button
        class="btn secundary"
        style="margin-right: 4rem"
        [disabled]="loading"
        (click)="reset()"
      >
        Reiniciar
      </button>
      <button
        class="btn primary"
        (click)="submit()"
        [disabled]="!productForm.valid || loading"
      >
        Enviar
      </button>
    </div>
  </div>
</div>
